/* колір заголовків  #212121  */
/* акцент #212121 */
/* колір абзаців #757575 */
/* колір акцент #2196F3 */
/* колір лого-1 #2196F3 */
/* колір лого-2  #000000 */
/* колір лого бордер #000000 */
/* колір фону #F5F5F5 */
/* вторічний колір фону #2F303A */

:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --logo-border-color: #000000;
    --primary-bcg-color: #F5F5F5;
    --secondary-bcg-color: #2F303A;
}
body {
    
}