/* колір заголовків  #212121  */
/* акцент #212121 */
/* колір абзаців #757575 */
/* біли колір тексту #FFFFFF */
/* колір акцент #2196F3 */
/* колір лого-1 #2196F3 */
/* колір лого-2  #000000 */
/* колір лого бордер #000000 */
/* колір фону #F5F5F5 */
/* вторічний колір фону #2F303A */
/*  */

:root {
    --title-color: #212121;
    --text-color: #757575;
    --text-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-bcg-color: #F5F5F5;
    --secondary-bcg-color: #2F303A;
    --primary-white-color: #FFFFFF;

}

body {
    background-color: var(--primary-white-color);
}
    
.logo {
    color: var(--logo-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo span {
    color: var(--accent-color);
    
}
.list {
    list-style: none;
}
.site-nav .link {
    color: var(--title-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav.link-current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts {
    color: var(--text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts:hover {
    color: var(--accent-color);
}
.hero {
    background-color: var(--secondary-bcg-color);
}
.hero-title{
    color: var(--text-white-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
