/* колір заголовків  #212121  */
/* акцент #212121 */
/* колір абзаців #757575 */
/* біли колір тексту #FFFFFF */
/* колір акцент #2196F3 */
/* колір лого-1 #2196F3 */
/* колір лого-2  #000000 */
/* колір лого бордер #000000 */
/* колір фону #F5F5F5 */
/* вторічний колір фону #2F303A */
/*  */

:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-bcg-color: #F5F5F5;
    --secondary-bcg-color: #2F303A;
    --third-bcg-color: #F5F4FA;
    --primary-white-color: #FFFFFF;
}
body {
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    letter-spacing: 0.03em;
}
    
.logo {
    color: var(--logo-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
    text-decoration: none;
}
.logo span {
    color: var(--accent-color);
    
}
.list {
    list-style: none;
}
.site-nav .link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
    }
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}
.hero {
    background-color: var(--secondary-bcg-color);
}
.hero-title{
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.section {
    background-color: var(--primary-bcg-color);
     
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
}
.section-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color)
}
.section-text {
    font-size: 14px;
    line-height: 1.7;
    }
.section-team {
    background-color: var(--third-bcg-color);
    font-size: 16px;
    line-height: 1.19;
    }
.team-member {
    font-weight: 500;
    color: var(--title-color);
}
.footer {
    background-color: var(--secondary-bcg-color);
}
.footer .logo {
    color: var(--primary-white-color);
    }
.address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    color: var(--primary-white-color);
    text-decoration: none;
}
.address:hover,
.address:focus {
    color: var(--accent-color);
}
/* portfolio */

.button.primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    }
.button.secondary {
    background-color: var(--third-bcg-color);
    color: var(--title-color);
}
.filter {
    background-color: var(--primary-bcg-color);
}
.filter.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.filter.text {
    font-size: 16px;
    line-height: 1.9;
    }